body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   15px;
  line-height: 20px;
}


img {
 border: none;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  border: 1px solid #905029;

}


hr {
 color: #905029;
 width: 300px;
 padding: 0px;
}
strong {
 color: #905029;
}

a { color: #905029;}
a:visited { color: #333;}

.sick {
  background-color: #ff0;
}

.highlightsearch {
  background-color: #72c255;
  color: #fff;
}

.hit strong {
  background-color: #72c255;
  color: #fff;
  padding: 3px;
  margin-top: 30px;
  font-weight: normal;
}

.nohit strong {
  background-color: #ee8058;
  color: #fff;
  padding: 3px;
  margin-top: 30px;
  font-weight: normal;
}

.error strong {
  background-color: #ee8058;
  color: #fff;
  padding: 3px;
  margin-top: 30px;
  font-weight: normal;
}

.hint {
  background-color: #ee8058;
  color: #fff;
  padding: 3px;
  margin-top: 30px;
  font-weight: normal;
}

ol.hitlist {
}

ol.hitlist li {
  list-style-type: decimal;
  background-color: ligthgrey;
  margin-bottom: 50px;
  line-height: 1.0em;
}

.hitlist li span {
padding: 0px;
margin: 0px;
/* font-style: italic; */
font-size: 0.8em;
}

.hitlist li pre {
padding: 15px;
margin-top: 5px;
}

.hitlist li a {
  font-size: 1.4em;
}

.biglink {
  font-size: 1.5em;
}

.errorchange span {
  background-color: #f9be40;
}

.errorchange a {
  background-color: #f9be40;
}


.errorchange tr {
  margin: 10px;
}

#changetable {
  padding-left: 50px;
}

table#changetable tr td {
  padding-top: 0px;
  padding-bottom: 20px;
  line-height: 20px;
}

table#changetable tr th {
  text-align: left;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}



#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

form.cmxform label {
  display: inline-block;
  line-height: 1.4;
  vertical-align: top;
}
form.cmxform ol {
  margin: 0;
  padding: 0;
}
form.cmxform li {
  list-style: none;
  padding: 3px;
  margin: 0;
}

form.cmxform label {
  width: 4em; /* Width of labels */
}


#logodiv {
  color: #905029;
 padding: 10px;
}


.subtitle {
  font-size: 0.8em;
  color: #905029;
  padding: 0px;
  margin: 0px;
}

.logo {
 font-size: 2.5em;
  color: #905029;
  padding: 0px;
}

#contentdiv {
  padding-left: 50px;
  width: 90%;
}

#contentdiv .textonly {
  padding-left: 50px;
  width: 500px;
}

#footer p {
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  padding: 0px;
}

.title {
  font-style: italic;
}

.title #title {
  font-size: 2.5em;
  font-style: normal;
  letter-spacing: 0.1em;
}

.title a {
  text-decoration: none;

}
.title strong {
  font-size: 2.5em;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-right: 10px;
}

.examples a {
  line-height: 30px;
  font-weight: bold;
}

.examples strong {
  font-weight: bold;
}

.examples td {
  padding-left: 3px;
}

.piece {
  font-family: courier;
  font-weight: normal;
  letter-spacing: 0em;
  font-size: 1.1em;
}
