body { background-color: #fff; color: #333; }

pre {
  padding-left: 0.8em;
  font-size: 0.8em;
  border-left: 1px solid #4d54b3;
}

#uri_for_tracker {
  font-size: 1.4em;
  line-height: 2em;
  text-align: center;
  padding-left: 2em;
}

#xpath_for_tracker{
  font-size: 1.4em;
  line-height: 2em;
  text-align: center;
  padding-left: 2em;
}

#web_hook_for_tracker{
  font-size: 1.4em;
  line-height: 1em;
}

#sick {
  background-color: #ee8058;
}

#sick a {
  color: #fff;
}

.highlightsearch {
  background-color: #72c255;
  color: #fff;
}

.hit strong {
  background-color: #72c255;
  color: #fff;
  padding: 3px;
  margin-top: 30px;
  font-weight: normal;
}

.nohit strong {
  background-color: #ee8058;
  color: #fff;
  padding: 3px;
  margin-top: 30px;
  font-weight: normal;
}

.error strong {
  background-color: #ee8058;
  color: #fff;
  padding: 3px;
  margin-top: 30px;
  font-weight: normal;
}

ul.hitlist li {
  list-style-type: decimal;
  margin-bottom: 50px;
  line-height: 1.0em;
}

ol.hitlist li {
  list-style-type: decimal;
  margin-bottom: 50px;
  line-height: 1.0em;
}

.hitlist li span {
padding: 0px;
margin: 0px;
/* font-style: italic; */
font-size: 0.8em;
}

.hitlist li pre {
padding: 15px;
margin-top: 5px;
}

.hitlist li a {
  font-size: 1.4em;
}

.errorchange span {
  background-color: #ee8058;
}

.errorchange a {
  background-color: #f9be40;
}


.errorchange tr {
  margin: 10px;
}

#changetable {
  padding-left: 1em;
}

table#changetable tr td {
  line-height: 1em;
  padding-bottom: 0.2em;
}

table#changetable tr td.change_datetime {
  font-style: italic;
  font-size: 0.8em;
  padding-bottom: 1.5em;
  padding-left: 1em;
}

#logodiv {
 color: #4d54b3;
 padding: 10px;
}


#contentdiv {
  padding-left: 50px;
  width: 90%;
}

#contentdiv .textonly {
  padding-left: 50px;
  width: 500px;
}

.examples {
  padding-left: 1.2em;
}
.examples a {
  line-height: 2em;
  font-size: 1.1em;
}

.examples td {
  padding: 0.3em;
}
.examples strong {
  font-weight: bold;
}
.examples .change_time {
  margin-top: 0px;
  padding: 0px;
  font-size: 0.8em;
  font-style: italic;
}

.piece {
  font-family: courier;
  font-size: 1.2em;
}

#created_on {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 0.8em;
  font-style: italic;
}

abbr.timeago {
  border-bottom: none;
}

#tracker_title {
  margin-bottom: 0.2em;
  font-size: 1.8em;
}

#changes {
  background-image: url(../images/feed-icon-28x28.png);
  background-repeat: no-repeat;
  line-height: 28px;
  padding-left: 36px;
  vertical-align: middle;
  font-size: 1.4em;
}

h1 {
  background-image: url(../images/trakkor-logo.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}

h1 a {
  padding-left: 60px;
}

