
<% if piece.error %>
  <tr class='errorchange'>
    <td><span><%= h piece.error %></span></td>
  </tr>
<% end %>

<% unless piece.error %>
  <tr>
    <td class='piece'><pre><%= piece.text %></pre></td>
  </tr>
<% end %>

  <tr>
    <td class='change_datetime'>
      about <%= time_ago_in_words(piece.created_at) %> ago
    </td>
  </tr>

