
  <tr>
    <th>

      <!-- like in http://microformats.org/wiki/datetime-design-pattern !-->
      <abbr class="change_datetime" title="<%= piece.created_at.iso8601 %>">
         <%= time_ago_in_words(piece.created_at) %> ago 
      </abbr>

    </th>
  </tr>

<% if piece.error %>
  <tr class='errorchange'>
    <td><span><%= h piece.error %></span></td>
  </tr>
<% end %>

<% unless piece.error %>
  <tr>
    <td class='piece'><pre><%= piece.text %></pre></td>
  </tr>
<% end %>


