
<% if piece.error %>
  <tr>
    <td class='flash'><div class='warning'><%= h piece.error %></div></td>
  </tr>
<% end %>

<% unless piece.error %>
  <tr>
    <td class='piece'><pre><%= htidy piece.text %></pre></td>
  </tr>
<% end %>

  <tr>
    <td class='change_datetime'>
      discovered <%= timeago(piece.created_at) %>
    </td>
  </tr>

