<h1>Editing scrape_result</h1>

<%= error_messages_for :scrape_result %>

<% form_for(@scrape_result) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @scrape_result %> |
<%= link_to 'Back', scrape_results_path %>
