<h1>New scrape_result</h1>

<%= error_messages_for :scrape_result %>

<% form_for(@scrape_result) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', scrape_results_path %>
